---
const { url, repo } = Astro.props;
---

<div>
    <a href={repo} aria-label="Desktop">
        <video
            class="rounded-[30px] m-auto"
            autoplay
            loop
            playsinline
            muted
            width="700"
        >
            <source src={url} type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    </a>
</div>
