---
import PhoneBg from "../components/IntroComp/PhoneBg.astro";
import Pin from "../components/IntroComp/Pin.astro";
import Layout from "../layouts/Layout.astro";
import GithubSocial from "../components/IntroComp/GithubSocial.astro";
import LinkedinSocial from "../components/IntroComp/LinkedinSocial.astro";
import HackerankSocial from "../components/IntroComp/HackerankSocial.astro";
---

<Layout title="Welcome to Astro.">
	<style>
		@font-face {
			font-family: "Montserrat-Regular";
			src: url("/fonts/Montserrat-Regular.ttf");
		}
		@font-face {
			font-family: "Montserrat-Bold";
			src: url("/fonts/Montserrat-Bold.ttf");
		}
		@font-face {
			font-family: "Montserrat-Light";
			src: url("/fonts/Montserrat-Light.ttf");
		}
		#title {
			font-family: "Montserrat-Bold";
		}
		#subtitle {
			font-family: "Montserrat-Regular";
		}
		a {
			font-family: "Montserrat-Light";
		}
	</style>
	<section class="max-w-[1400px] py-36 m-auto h-fit flex justify-between">
		<div class="flex flex-col justify-between">
			<div class="">
				<h1 id="title" class="text-[90px] font-black text-white">
					Bruno Amat,
				</h1>
				<h1 id="subtitle" class="text-[75px] text-white">
					full stack developer.
				</h1>
				<div class="mt-5 flex justify-start items-center gap-3">
					<a
						href=""
						download=""
						class="bg-[#FF4667] text-white text-sm px-5 py-1 rounded-full"
					>
						<button type="button">Download CV</button>
					</a>
					<GithubSocial url="https://github.com/amatbruno" />
					<LinkedinSocial
						url="https://www.linkedin.com/in/mebruno/"
					/>
					<HackerankSocial
						url="https://www.hackerrank.com/profile/amattbruno"
					/>
				</div>
			</div>

			<div class="flex gap-20">
				<Pin
					icon="./icons/briefcase.svg"
					title="Recent experience"
					text="C# Junior Developer at Header Active Services"
				/>
				<Pin
					icon="./icons/location.svg"
					title="Location"
					text="Barcelona, Spain"
				/>
			</div>
		</div>

		<div class="h-fit flex justify-center">
			<div class="absolute bg-gray-300 text-gray-300 w-32 h-7 rounded-lg">.</div>
			<PhoneBg />
		</div>
	</section>

	<section class="max-w-[1400px] m-auto">
		hola
	</section>
</Layout>
