---
import PhoneBg from "../components/IntroComp/PhoneBg.astro";
import Pin from "../components/IntroComp/Pin.astro";
import Layout from "../layouts/Layout.astro";
import SocialIcons from "../components/IntroComp/SocialIcons.astro";
---

<Layout title="Welcome to Astro.">
	<style>
		@font-face {
			font-family: "Montserrat-Regular";
			src: url("/fonts/Montserrat-Regular.ttf");
		}
		@font-face {
			font-family: "Montserrat-Bold";
			src: url("/fonts/Montserrat-Bold.ttf");
		}
		@font-face {
			font-family: "Montserrat-Light";
			src: url("/fonts/Montserrat-Light.ttf");
		}
		#title {
			font-family: "Montserrat-Bold";
		}
		#subtitle {
			font-family: "Montserrat-Regular";
		}
		a {
			font-family: "Montserrat-Light";
		}
	</style>
	<section
		class="max-w-[1400px] border border-white mt-20 m-auto flex justify-between"
	>
		<div class="flex flex-col justify-between">
			<div>
				<h1 id="title" class="text-[90px] font-black text-white">
					Bruno Amat,
				</h1>
				<h1 id="subtitle" class="text-[75px] text-white">
					full stack developer.
				</h1>
				<div class="mt-5 flex justify-start items-center gap-3">
					<a href="" download="" class="bg-[#FF4667] text-white text-sm px-5 py-1 rounded-full">
						<button type="button">Download CV</button>
					</a>
					<SocialIcons icon="/icons/github.svg" url="" />
					<SocialIcons icon="/icons/linkedin.svg" url="" />
					<SocialIcons icon="/icons/github.svg" url="" />
				</div>
			</div>

			<div class="flex gap-20">
				<Pin
					icon="./icons/briefcase.svg"
					title="Recent experience"
					text="C# Junior Developer at Header Active Services"
				/>
				<Pin
					icon="./icons/location.svg"
					title="Location"
					text="Barcelona, Spain"
				/>
			</div>
		</div>
		<div class="h-auto">
			<PhoneBg />
		</div>
	</section>
</Layout>
